{% extends "baseRPhyst.html" %} {% block content %}

<div class="container-fluid" id="containerPage">
    <div class="row">
        <div class="col-sm vertical">
            <h1>TOUR 121</h1>
            <div class="container-fluid" id="playerTable">
                <div class="row">
                  <div class="col-sm-1 ini"><img src="/rphyst/static/image/ini.png"><div>100</div></div>
                  <div class="col-sm-2 icone_perso"><img src="https://cdn.discordapp.com/attachments/785215626687414283/1054409517271625788/image.png"></div>
                  <div class="col-sm-6"><div class="progress"><div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">250</div></div></div>
                  <div class="col-sm-3 icone_activable"><img src="https://cdn.discordapp.com/attachments/785215626687414283/1054412460221796382/image.png"></div>
                </div>
                <div class="row">
                    <div class="col-sm-1 ini"><img src="/rphyst/static/image/ini.png"><div>55</div></div>
                    <div class="col-sm-2 icone_perso"><img src="https://cdn.discordapp.com/attachments/785215626687414283/1054412396829098006/image.png"></div>
                    <div class="col-sm-6"><div class="progress"><div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">40</div></div></div>
                    <div class="col-sm-3 icone_activable"></div>
                </div>
                <div class="row">
                    <div class="col-sm-1 ini"><img src="/rphyst/static/image/ini.png"><div>31</div></div>
                    <div class="col-sm-2 icone_perso"><img src="https://cdn.discordapp.com/attachments/785215626687414283/1054412396829098006/image.png"></div>
                    <div class="col-sm-6"><div class="progress"><div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">80</div></div></div>
                    <div class="col-sm-3 icone_activable"></div>
                </div>
                <div class="row">
                    <div class="col-sm-1 ini"><img src="/rphyst/static/image/ini.png"><div>10</div></div>
                    <div class="col-sm-2 icone_perso"><img src="https://cdn.discordapp.com/attachments/785215626687414283/1054412396829098006/image.png"></div>
                    <div class="col-sm-6"><div class="progress"><div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">80</div></div></div>
                    <div class="col-sm-3 icone_activable"></div>
                </div>
                <div class="row">
                    <div class="col-sm-1 ini"><img src="/rphyst/static/image/ini.png"><div>5</div></div>
                    <div class="col-sm-2 icone_perso"><img src="https://cdn.discordapp.com/attachments/785215626687414283/1054412396829098006/image.png"></div>
                    <div class="col-sm-6"><div class="progress"><div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">80</div></div></div>
                    <div class="col-sm-3 icone_activable"></div>
                </div>
                <div class="row">
                    <div class="col-sm-1 ini"><img src="/rphyst/static/image/ini.png"><div>5</div></div>
                    <div class="col-sm-2 icone_perso"><img src="https://cdn.discordapp.com/attachments/785215626687414283/1054412396829098006/image.png"></div>
                    <div class="col-sm-6"><div class="progress"><div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">80</div></div></div>
                    <div class="col-sm-3 icone_activable"></div>
                </div><div class="row">
                    <div class="col-sm-1 ini"><img src="/rphyst/static/image/ini.png"><div>5</div></div>
                    <div class="col-sm-2 icone_perso"><img src="https://cdn.discordapp.com/attachments/785215626687414283/1054412396829098006/image.png"></div>
                    <div class="col-sm-6"><div class="progress"><div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">80</div></div></div>
                    <div class="col-sm-3 icone_activable"></div>
                </div><div class="row">
                    <div class="col-sm-1 ini"><img src="/rphyst/static/image/ini.png"><div>5</div></div>
                    <div class="col-sm-2 icone_perso"><img src="https://cdn.discordapp.com/attachments/785215626687414283/1054412396829098006/image.png"></div>
                    <div class="col-sm-6"><div class="progress"><div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">80</div></div></div>
                    <div class="col-sm-3 icone_activable"></div>
                </div><div class="row">
                    <div class="col-sm-1 ini"><img src="/rphyst/static/image/ini.png"><div>5</div></div>
                    <div class="col-sm-2 icone_perso"><img src="https://cdn.discordapp.com/attachments/785215626687414283/1054412396829098006/image.png"></div>
                    <div class="col-sm-6"><div class="progress"><div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">80</div></div></div>
                    <div class="col-sm-3 icone_activable"></div>
                </div><div class="row">
                    <div class="col-sm-1 ini"><img src="/rphyst/static/image/ini.png"><div>5</div></div>
                    <div class="col-sm-2 icone_perso"><img src="https://cdn.discordapp.com/attachments/785215626687414283/1054412396829098006/image.png"></div>
                    <div class="col-sm-6"><div class="progress"><div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">80</div></div></div>
                    <div class="col-sm-3 icone_activable"></div>
                </div><div class="row">
                    <div class="col-sm-1 ini"><img src="/rphyst/static/image/ini.png"><div>5</div></div>
                    <div class="col-sm-2 icone_perso"><img src="https://cdn.discordapp.com/attachments/785215626687414283/1054412396829098006/image.png"></div>
                    <div class="col-sm-6"><div class="progress"><div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">80</div></div></div>
                    <div class="col-sm-3 icone_activable"></div>
                </div>
            </div>
            <div>aaa</div>
        </div>
        <div class="col-sm vertical">
            <!-- <textarea id="outputLoot" placeholder="Résultats..."></textarea> -->
        </div>
    </div>
</div>

{% endblock %}