{% extends "baseRPhyst.html" %} {% block content %}
<link rel="stylesheet" href="/rphyst/static/css/combat.css" />

<div class="container-fluid" id="containerPage">
    <div class="row">
        <div class="col-sm vertical">
            <h1>TOUR <span id="valueTour" class="editable">1</span></h1>
            <div class="container-fluid combatTable" id="playerTable">
                <div class="row template" onclick="selectPlayer(this)">
                    <span class="backgroundSelected"></span>
                    <div class="col-sm-1 ini"><img src="/rphyst/static/image/ini.png">
                        <div class="editable" id="valueIni">100</div>
                    </div>
                    <div class="col-sm-2 icone_perso">
                        <img src="https://cdn.discordapp.com/attachments/785215626687414283/1054409517271625788/image.png">
                        <button onclick="removePlayerBack(this.parentNode.parentNode.id)" type="button" class="btn btn-danger btn-remove"><svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-trash' viewBox='0 0 16 16'><path d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z'/><path fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z'/></svg></button>
                    </div>
                    <div class="col-sm-6">
                        <div class="progress hp">
                            <div class="editable progress-bar bg-success" id="valueHP" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">111</div>
                        </div>
                    </div>
                    <div class="col-sm-3 icone_activable"></div>
                </div>
                <div class="row dropdown" id="add_player">
                    <button class="dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-circle-plus"></i>
                    </button>
                    <ul class="dropdown-menu">
                        {% for player in players %}
                        <li><a class="dropdown-item" onclick="addPlayerBack(this.innerText)">{{ player }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="container-fluid combatTable">
                <div class="spellTable template">
                    <div class="row">
                        <div class="col-sm-8 persoSpells">
                            <span>
                            <div class="fullspell"><img src="https://cdn.discordapp.com/attachments/785215626687414283/1054412460221796382/image.png"></div>
                            <div class="fullspell"><img src="/rphyst/static/image/dodge.png"></div>
                        </span>
                        </div>
                        <div class="col-sm-4 persoControl">
                            <div class="progress mana">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">65</div>
                            </div>
                            <div class="progress ress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">4</div>
                            </div>
                            <div class="container-fluid" id="persoStats">
                                <row>
                                    <div class="col-sm-6" style="color:red">PHY</div>
                                    <div class="col-sm-6 valPHY">45</div>
                                </row>
                                <row>
                                    <div class="col-sm-6" style="color:blue">MAG</div>
                                    <div class="col-sm-6 valMAG">45</div>
                                </row>
                                <row>
                                    <div class="col-sm-6" style="color:orange">INT</div>
                                    <div class="col-sm-6 valINT">45</div>
                                </row>
                                <row>
                                    <div class="col-sm-6" style="color:green">AGI</div>
                                    <div class="col-sm-6 valAGI">5</div>
                                </row>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm vertical">
            <div class="container-fluid combatTable" id="histoTable">
            </div>
        </div>
    </div>

    <script src="../static/js/combat.js" type="text/javascript"></script>

    {% endblock %}