{% extends "baseRPhyst.html" %}

{% block content %}

	<link rel="stylesheet" href="../static/css/login.css"/>

	<div id="login_section">

		<div>
			<div id="login_text_container">
				<div id="login_text">Entrez votre mot de passe : </div>
			</div>
			<div id="loginInput_container">
				<input type="password" id="loginInput" spellcheck="false" placeholder="Mot de passe">
			</div>
		</div>

	</div>

    <script>
        var loginBar = function (event) {
        if (event.type = "keydown" && String(event.target.value) !== ""){
            if (event.key == 'Enter'){
                window.location.pathname += "/insert/" + String(event.target.value) ;
            }
            if (event.key == 'Backspace' || event.key == 'Delete'){
                event.target.value = "";
            }
        }
        };

        document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("loginInput").addEventListener("keydown", loginBar);
        });
    </script>

{% endblock %}