{% extends "baseRPhyst.html" %} {% block content %}

<div class="container-fluid choiceShopContainer" id="containerPage">
    <div id="shopkeepChoiceBig">
        <button type="button" class="btn btn-info"><a href="/rphyst/shop/update">Update Database</a></button>
        <div id="shopkeepChoiceSmall">
            {% for sk in sks %}
                <a href="/rphyst/shop/marchand/{{ sk }}" class="marchands">{{ sk }}</a>
            {% endfor %}
        </div>
    <div>
</div>

<script>
    function updateBDD() {
    $.ajax({
        type: "POST",
        url: '/rphyst/shop/update',
        dataType: 'json',
        data: {}
    });
}
</script>

{% endblock %}