h1 {
    background-color: #212529;
    border: 1px solid #ddd;
    padding: 5px 100px;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

h1 span {
    color: #198754;
}

.combatTable {
    margin: 10px;
    border: 1px solid #ddd;
    background-color: #212529;
    width: 95%;
}

#playerTable {
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
}

#playerTable .row {
    align-items: center;
    width: 50%;
    margin-right: 12px;
    margin-top: 15px;
}

.icone_perso {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone_perso img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
}

.btn-remove {
    display: none;
    border-radius: 50%;
    z-index: 99;
}

img:hover+.btn-remove,
.btn-remove:hover {
    display: flex;
}

.icone_spell img {
    z-index: 10000;
}

.icone_spell img:hover {
    cursor: grab;
}

.vignette {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.fullspell {
    margin: 10px;
    background-color: yellow;
    width: 50px;
}

.fullspell img {
    width: 50px;
    height: 50px;
}

.phy {
    border: 1px solid red;
}

.int {
    border: 1px solid yellow;
}

.agi {
    border: 1px solid green;
}

.mag {
    border: 1px solid blue;
}

.ini {
    direction: rtl;
    z-index: 3;
}

.ini div {
    margin-top: -32px;
    margin-right: -15px;
    z-index: 99;
    color: white;
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}

.ini img {
    width: 40px;
    margin-right: -20px;
}

.spellTable {
    height: 300px;
    display: none;
}

.spell_actif {
    display: block;
}

.col-sm-6 {
    z-index: 3;
}

.perso_actif {
    display: flex;
}

.backgroundSelected {
    display: none;
}

.perso_actif span {
    background: linear-gradient(#212529 15%, white, #212529 85%);
    backdrop-filter: blur(10px);
    height: 75px;
    position: absolute;
    width: 300px;
    display: block;
}

.persoSpells {
    margin-top: 10px;
}

.persoSpells span {
    display: flex;
    flex-wrap: wrap;
}

.persoControl {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.persoControl .progress {
    margin-top: 10px;
}

.persoStats {
    margin: 10px;
    border: 1px solid rgb(15, 17, 19);
    background-color: #2e3438;
    width: 85%;
    height: 200px;
}

.persoStats row {
    margin-top: 10px;
    display: flex;
}

.persoStats row div {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

.template {
    display: none;
}

.dropdown-menu {
    max-height: 100px;
    overflow-x: auto;
    font-size: 0.8vw;
    columns: 2;
}

.dropdown button {
    background-color: transparent;
    border: none;
}

.dropdown ::after {
    display: none;
}

#add_player button svg {
    font-size: 2vw;
    color: rgb(152, 152, 152);
}

#add_player button svg:hover {
    color: rgb(212, 212, 212);
}


/* -- */

#histoTable {
    height: 100%;
}