#login_section{
	height: 600px;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

#login_container{
	width: 60%;
	height: 20%;

}

#loginInput_container, #login_text_container{
	float: left;
	width:100%;
	display: flex;
	align-items: center;
  	justify-content: center;
  	margin-bottom: 10px;
}

#loginInput{
    width: 60%;
    padding: 10px 10px;
    background-color: #303339;
	border: 1px solid #222428;
	font-size: min(4vw,2.2em);
    color: #c0c0c0;
}

#login_text{
	font-size: min(4vw,2.2em);
}